*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.699) 0%, rgba(51, 8, 103, 0.689) 100%), url("../IMG/construccion.jpg");
    width: 100%;
    height: 1000px;
    background-size: cover;
}

.mantenimiento h1, .mantenimiento p{
    font-family:'Raleway', sans-serif;
}

.mantenimiento{
    width:600px;
    margin-top:-200px;
    margin-left:-300px;
    position:fixed;
    top:50%;
    left:50%;
}

.mantenimiento h1{
    font-size: 4em;
    color: #fff;
    padding:32px;
    text-align: center;
}

.mantenimiento p{
    height: 500px;
    font-size:2em;
    color: #fff;
    text-align:center;
}

@media screen and (max-width:800px){
    .mantenimiento h1{
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .mantenimiento p{
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:400px){
    .mantenimiento h1{
        font-size: 25px;
    }
    .mantenimiento p{
        font-size: 15px;
    }
}